{% extends 'master.html' %}
{% block body %}
    	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Bid on Artwork</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

    <!--================Login Box Area =================-->
		<section class="login_box_area section_gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="login_box_img">
							<img class="img-fluid" src="/static/img/auction.jpg" alt="">
							<div class="hover">
								<h4>Bid Artwork</h4>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="login_form_inner">
							<h3>Bid Artwork</h3>
							<form class="row login_form" action="{% url 'bidArt' id=artwork.id %}" method="POST">
								{% csrf_token %}
								<div class="col-md-12 form-group">
									<input type="number" class="form-control" name="bidamt" placeholder="Bidding Amount" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Bidding Amount'">
								</div>
								<div class="col-md-12 form-group">
									<button type="submit" value="submit" class="primary-btn">Apply</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!--================End Login Box Area =================-->
    <br><br><br>
{% endblock %}